UID_GID=1000:1000
EMAIL="thiago@madeofpeople.org"

# +---------------------+
# | GLOBAL CONFIGS      |
# +---------------------+
CONFIG_BASHRC="./config/bashrc"

# +---------------------+
# | PROXY SETTINGS      |
# +---------------------+
PROXY_CADDYFILE="./proxy/Caddyfile"

# +---------------------+
# | STATIC SITES        |
# +---------------------+
STATIC_SERVER_CADDYFILE="/home/madeofpeople/abcnorio.org/web/Caddyfile"
STATIC_SERVER_SITE_DIR="/home/madeofpeople/abcnorio.org/web/static/"

INFO_PHP='/home/madeofpeople/abcnorio.org/wp/info.php'


# +---------------------+
# | WORDPRESS           |
# +---------------------+

# STAGING PATHS
WP_STAGING_URL='https://contentstaging.itztlacoliuhqui.org'
WP_STAGING_WPCONTENT="/home/madeofpeople/abcnorio.org/wp/staging/wp-content"
WP_STAGING_COMPOSER="/home/madeofpeople/abcnorio.org/wp/staging/composer.json"
WP_STAGING_POST_START="/home/madeofpeople/abcnorio.org/wp/staging/scripts/post_start.sh"
WP_STAGING_PLUGIN_PATH="/var/www/html/wp-content/plugins/abcnorio-wp/"

## WP & DATABASE INFO
SERVER_NAME=:80
WP_DEBUG=1
WP_DB_HOST=mariadb
WP_DB_NAME=exampledb
WP_DB_USER=exampleuser
WP_DB_PASSWORD=examplepass
WP_TABLE_PREFIX=wp_
DB_ROOT_PASSWORD=examplepass
LOCAL_DB_PORT=3306
LOCAL_PHPMYADMIN_PORT=8096