SERVER_NAME=:80
WP_DEBUG=1
WP_DB_HOST=mariadb
WP_DB_NAME=exampledb
WP_DB_USER=exampleuser
WP_DB_PASSWORD=examplepass
WP_TABLE_PREFIX=wp_
DB_ROOT_PASSWORD=examplepass
LOCAL_DB_PORT=3306
LOCAL_PHPMYADMIN_PORT=8096