localhost {
    respond "Hello, World. I don't believe this but it works"
    log
}

# Static Site - web
itztlacoliuhqui.org, staging.itztlacoliuhqui.org, dev.itztlacoliuhqui.org {
    reverse_proxy web:80
}

# Wordpress - wp
contentstaging.itztlacoliuhqui.org {
    reverse_proxy wp_staging
}

# PHP MyAdmin - pma
pma.itztlacoliuhqui.org {
    reverse_proxy pma
}