{
	servers {
		trusted_proxies static private_ranges
	}
}

http://itztlacoliuhqui.org {
	tls thiago@madeofpeople.org
	root /srv/production/
	file_server
    templates
	encode zstd gzip
	handle_errors {
    	rewrite * /404.html
    	file_server
  	}
}

http://dev.itztlacoliuhqui.org {
	tls thiago@madeofpeople.org
	root /srv/development/
	file_server
    templates
	encode zstd gzip
	handle_errors {
    	rewrite * /404.html
    	file_server
  	}
}

http://staging.itztlacoliuhqui.org {
	tls thiago@madeofpeople.org
	root /srv/staging/
	file_server
    templates
	encode zstd gzip
	handle_errors {
    	rewrite * /404.html
    	file_server
  	}
}

http://ziv-jhurs-355.itztlacoliuhqui.org {
	tls thiago@madeofpeople.org
	root /srv/zivjhurs355/
	try_files {path}.html
	file_server
	encode zstd gzip
	templates
	handle_errors {
    	rewrite * /error.html
		templates
    	file_server
  	}
}